

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.container {
    width: 50vw;
    /*display: flex;*/
}

#form {
    /*justify-content: flex-end;*/
}

#coffeeList {
    /*justify-content: flex-start;*/
}

hr {
    height: 4px;
}

body {
    position: relative;
}

img {
    height: 50px;
    width: 50px;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.video-wrapper {
    /* Telling our absolute positioned video to
    be relative to this element */
    position: relative;


    /* Will not allow the video to overflow the
    container */
    overflow: hidden;

    /* Centering the container's content vertically
    and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coffees {
    background: rgba(130, 116, 94, .8);
    border: ghostwhite solid;
    border-radius: 10px;
    margin-right: 2em;
}

.header {
    font-family: 'Rye', sans-serif;
    background: rgba(130, 116, 59, 1);
    border-bottom: ghostwhite solid;
}

#midsection {
    margin: 4em;
}

#form {
    background: rgba(130, 116, 94, .8);
    border: ghostwhite solid;
    border-radius: 10px;
}

#submit {
    background: rgba(130, 116, 94, .9);
    color: ghostwhite;
}

#search {
    background-color: grey;
    color: ghostwhite;
}

#roast-selection {
    background-color: grey;
    color: ghostwhite;
}

#roast-selection-add {
    background-color: grey;
    color: white;
}

#add {
    background-color: grey;
    color: white;
}

#submitForAdd {
    background: rgba(130, 116, 94, .9);
    color: ghostwhite;
}